.modal_section {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    justify-content: center;
    justify-items: center;
    align-content: center;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
}

.modal_section .modal_wrap {
    width: 976px;
    height: auto;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.modal_section .modal_wrap .modal_close{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    text-align: center;
    justify-items: center;
    align-items: center;
}

.modal_section .modal_wrap .modal_close .close_text {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 38px;
    color: #FFFFFF;
    text-shadow: 3.26154px 3.26154px 8.15385px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding-bottom: 5px;
}

.modal_section .modal_wrap .modal_close .close_icon {
    width: 44px;
    height: 44px;
    background: url('/public/images/modal/ic_close.png') center/cover;
}

.modal_section .modal_wrap .modal_body {
    width: 100%;
    height: 615px;
    background: #1F2333;
    padding-top: 85px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.modal_wrap .modal_body .modal_title {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 56px;
    color: #FFFFFF;
}

.modal_wrap .modal_body .price_section {
    display: flex;
    margin-top: 52px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.modal_wrap .modal_body .price_section .icon_price {
    width: 46px;
    height: 46px;
    margin-right: 10px;
    background: url('/public/images/game/ic_token.png') center/cover;
}

.modal_wrap .modal_body .price_section .price {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 56px;
    color: #FFFFFF;
    padding-bottom: 5px;
}

.modal_wrap .modal_body .info {
    margin-top: 70px;
    width: 710px;
    height: auto;
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #9EA2B2;
}

.modal_wrap .modal_body .info span {
    color: #FFF185;
}

.modal_wrap .modal_body .button_sell {
    margin-top: 110px;
    width: 400px;
    height: 78px;
    background: url('/public/images/modal/btn_sell.png') center/cover;
}