.error_section {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.error_section h1 {
    font-size: 50px;
}