.menu {
  width: 100%;
  padding-top: 8px;
  font-family: "Noto Sans CJK KR";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  z-index: 9999;
  color: #ffffff;
}

.logo {
  width: 189px;
  height: 65px;
  background: url("/public/images/menu/logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 22px;
}

.cursor_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.marketplace {
  width: 100px;
  margin-right: 50px;
}

.c_marketplace {
  width: 100px;
  margin-right: 50px;
  color: #F2E4B6;
}

.cursor {
  width: 100px;
  height: 5px;
  background: url('/public/images/main/under_line.png') center/cover;
}

.comming {
  width: 67px;
  white-space: normal;
  margin-right: 50px;
  color: rgba(255, 255, 255, 0.6);
}

.game {
  width: 100px;
  margin-right: 50px;
}

.c_game {
  width: 100px;
  margin-right: 50px;
  color: #F2E4B6;
}

.document {
  width: 100px;
  margin-right: 50px;
}

.c_document {
  width: 100px;
  margin-right: 50px;
  color: #F2E4B6;
}

.inventory {
  width: 100px;
  margin-right: 100px;
}

.c_inventory {
  width: 100px;
  margin-right: 100px;
  color: #F2E4B6;
}

.wallet {
  width: 180px;
  height: 42px;
  background: url("/public/images/menu/btn_wallet.png");
  background-repeat: no-repeat;
  background-size: cover;
}


