@font-face {
    font-family: "ITC New Baskerville";
    src: url("//db.onlinewebfonts.com/t/501ade6e29baa5c62c15ec28f3ed2c62.eot");
    src: url("//db.onlinewebfonts.com/t/501ade6e29baa5c62c15ec28f3ed2c62.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/501ade6e29baa5c62c15ec28f3ed2c62.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/501ade6e29baa5c62c15ec28f3ed2c62.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/501ade6e29baa5c62c15ec28f3ed2c62.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/501ade6e29baa5c62c15ec28f3ed2c62.svg#ITC New Baskerville") format("svg");
  }

body {
    font-family: 'Noto Sans CJK KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}